body {
    padding: 0;
    margin: 0;
    background: #FFF;
    font-family: 'Open Sans', sans-serif;
}

body a {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    text-decoration: none;
}

body a:hover {
    text-decoration: none;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

body a:focus,
a:hover {
    text-decoration: none;
}

/*botón enviar*/
input[type="submit"] {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

input[type="submit"]:hover {
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

p {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.9;
    color: #999;
}

ul, ol {
    margin: 0;
    padding: 0;
}

label {
    margin: 0;
}

a:focus, a:hover {
    text-decoration: none;
    outline: none
}

/* header */
header {
    position: absolute;
    z-index: 99;
    width: 100%;
}

/*línea de la barra de navegación*/
nav.navbar {
    border-bottom: 2px solid rgba(255, 255, 255, 0.53);
	background: rgba(6, 6, 6, 0.53);
	font-size:16px;
	font-weight:bold;
	color:#fff;
}


/*-- botón-to-top --*/
#toTop {
    display: none;
    text-decoration: none;
    position: fixed;
    bottom: 24px;
    right: 3%;
    overflow: hidden;
    z-index: 999;
    width: 32px;
    height: 38px;
    border: none;
    text-indent: 100%;
    background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
    width: 32px;
    height: 32px;
    display: block;
    overflow: hidden;
    float: right;
    opacity: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
}

/*-- //botón-to-top --*/

/* logo */
a.navbar-brand i, a.logo i {
    font-size: 35px;
    margin-right: 10px;
    color: #ed4f4f;
}

.navbar-light .navbar-brand, a.logo {
    color: #fff;
    padding: 0;
    font-weight: 700;
    font-size: 35px;
}
/* //logo */

/* navigation */
.navbar-light .navbar-brand:hover,
.navbar-light .navbar-brand:focus {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link {
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 0.5em 0;
	font-weight:bold;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #dc3545;
    text-decoration: none;
    background-color: transparent;
} 

.dropdown-item {
    font-size: 0.9em;
}

li.nav-item {
    margin: 0 1em;
}

li.login-list-w3ls.d-inline a {
    letter-spacing: 2px;
    font-size: 15px;
}

.navbar-light .navbar-nav,
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav,
.navbar-light .navbar-nav .nav-link.active {
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
    color: black;
	font-weight:bold;
	font-size: 16px;
    opacity: .7;
}

button.login{
	background-color:#2c7873;
	border-radius:10px;
	text-align:center;
	padding: 10px 26px;
	
}

.callbacks_container .slider-info .slider-content{
	font-family:Montserrat;
	position: relative;
    left: 6%;
    bottom: 20%;
    z-index: 2;
}
/* //navigation */
/*-- //header --*/

/*imágenes del slider*/
.bg1 {
    background: url(../images/2.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.bg2 {
    background: url(../images/1.jpg)no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    background-size: cover;
}

.banner-text {
    padding-top: 20em;
}


.bg1, .bg2 {
    min-height: 50vw;
}


/*barra de deslizamieto del slider*/
.callbacks_container {
    position: relative;
	
}
 
/* botones slider */
/*botones que sirven como barra de deslizamiento del slider*/
.callbacks_tabs {
    list-style: none;
    position: absolute;
    left: 46.5%;
    bottom: 6%;
    z-index: 2;
    border-radius: 5px;
}

.callbacks_tabs li {
    display: inline-block;
    margin: 0 0.5em;
} 
 
.callbacks_tabs a {
    height: 12px;
    width: 12px;
    display: inline-block;
    background: #fff;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    font-size: 0;
} 

.callbacks_tabs a:after {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border: 2px solid white;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    top: -5px;
    left: -5px;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    -ms-transform: scale(0);
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
}
 
.callbacks_here a:after {
    border-color: #fff;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    -ms-transform: scale(1);
}
 /*--//botones slider*/


.rslides {
    position: relative;
    list-style: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
}

.rslides li {
    -webkit-backface-visibility: hidden;
    position: absolute;
    display: none;
    left: 0%;
    top: 0;
    width: 100%;
}

.rslides li {
    position: relative;
    display: block;
    float: none;
}

.rslides img {
    height: auto;
    border: 0;
}

.banner-text h3 {
    font-size: 50px;
}

p.movetxt {
    font-size: 18px;
}

h3.title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 1.4;
}

h3.title span {
    font-weight: 600;
    letter-spacing: 0px;
	display: block;
	font-size: 30px;
	line-height: 2.7;
}


.bloque-servicios{
	background: #f4f4f4;
}

 .icono-asistencia{ 
	background:url('../images/icono-asistencia.png');
	margin-top:10px;
    display:inline-block;
	background-repeat: no-repeat;
	background-position: center center;	

 } 
 
 .icono-familias{ 
	background:url('../images/icono-familias.png');
	margin-top:10px;
    display:inline-block;
	background-repeat: no-repeat;
	background-position: center center;	

 } 
 
  .icono-profesionales{ 
	background:url('../images/icono-profesionales.png');
	margin-top:10px;
    display:inline-block;
	background-repeat: no-repeat;
	background-position: center center;	

 } 
 
 .icono-innovacion{ 
	background:url('../images/icono-innovacion.png');
	margin-top:10px;
    display:inline-block;
	background-repeat: no-repeat;
	background-position: center center;	

 } 
 
 
.servicios-header{
	text-align: center;
	margin-bottom:30px;
	margin-top: 15px;
	
}

.single-service{
	border:1px solid #ebebeb;
	text-align: center;
	background: #fff;
}

.servicio-bg{
	height: 200px;
	position:relative;
}

.servicio-bg-1{
	background:url('../images/atencion-pesonalizada.jpg');
	background-repeat: no-repeat;
	background-position: center center;	
}

.servicio-bg-2{
	background:url('../images/convivencia.jpg');
	background-repeat: no-repeat;
	background-position: center center;	
}
.servicio-bg-3{
	background:url('../images/medicos.jpg');
	background-repeat: no-repeat;
	background-position: center center;	
}

.servicio-bg-4{
	background:url('../images/innovacion.jpg');
	background-repeat: no-repeat;
	background-position: center center;	
}

.bloque-texto{
	padding: 10px 30px 20px;
	font-size: 15px;
	font-weight: 400;
	text-align: center;
}


.bloque-texto h2{
   color: #57595b;
   font-family: Calibri;
   font-size: 30px;
   text-align: center;
   left: 8%;
   width:100%;
   margin: 0;
}


img{
	vertical-align: middle;
}
footer {
    background:#212529;
   
}

.footer-grid h3 {
    font-size: 23px;
    color: #fff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.45);
}

.footer-grid ul li a,
.footer-grid ul li {
    color: #eee;
    font-size: 14px;
    letter-spacing: 1px;
}

.copy_right p {
    background: rgba(19, 11, 11, 0.74);
    letter-spacing: 2px;
}

/*-- contacto --*/
.address-grid,
.address-right {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
    box-shadow: 0px 2px 13px -1px rgba(0, 0, 0, 0.15);
}

.address h4 {
    font-size: 23px;
    color: #22a6f5;
}

.address-info p a {
    color: #999;
}

.address-info p span {
    display: block;
}

.address input[type="text"],
.address input[type="email"],
.address textarea {
    color: #000;
    outline: none;
    font-size: 15px;
    padding: 11px;
    border: none;
    letter-spacing: 1px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.15);
}

.address textarea {
    min-height: 10em;
    resize: none;
}

.address input[type="submit"] {
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 11px 0;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 16px;
    background: #ed4f4f;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.address input[type="submit"]:hover {
    background: #22a6f5;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
}
/*-- //contacto --*/

.navbar-brand{
	 background:url('../images/icono-residencia.png'); 
	 height:52px;
	 background-repeat:no-repeat;
	 
}

.navbar-brand::after{
	content:" Residencia Leonardo";
	font-size:30px;
	position: relative;
	left: 52px;
	top:-5px;
	
}
#navbarSupportedContent{
	position: relative;
	left: 52px;
}

.navbar-toggler{ 
	 background-color:#23201fc2; 
} 
